.clearfix {
    clear: both;
}
.button-wrapper {
    text-align: right;
}
.ui-tabs-vertical { width:95%; margin:40px auto 0 auto; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 16%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:96%; height:90%; padding:5% 0 5% 4% !important; }
.ui-tabs-vertical .ui-tabs-nav li a i { margin-right:10px; }
.ui-tabs-vertical .ui-tabs-panel { padding: .5em 1em; float: right; width: 80%;}

a icon.fa {
    margin-right: 10px;
}